if SHIELD_KESTREL_LEFT || SHIELD_KESTREL_RIGHT

config ZMK_KEYBOARD_NAME
    default "Kestrel KB_R"

config ZMK_SPLIT
    default y

config ZMK_BATTERY_REPORTING
    default y

config ZMK_SLEEP
    default y

config ZMK_PM_SOFT_OFF
    default y

config ZMK_DEFAULT_LAYER
    int
    default 0

endif

if SHIELD_KESTREL_RIGHT

config PMW3610
    bool
    default y
config ZMK_POINTING
    default y
config SPI
    default y

endif
