if SHIELD_KESTREL_LEFT

config ZMK_KEYBOARD_NAME
    default "Kestrel KB"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

endif

if SHIELD_KESTREL_RIGHT

config PMW3610
    default y
config ZMK_POINTING
    default y
config SPI
    default y

endif

if SHIELD_KESTREL_LEFT || SHIELD_KESTREL_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BATTERY_REPORTING
    default y

config ZMK_SLEEP
    default y
config ZMK_PM_SOFT_OFF
    default y

config ZMK_DEFAULT_LAYER
    default y

endif

