#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/input/input-event-codes.h>
#include "kestrel-layouts.dtsi"
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            // --------------------------------------------------------------------------------------------------------------------------
            //|    Q    |    W    |    E    |    R    |    T    |                    |    Y    |    U    |    I     |    O    |    P    |
            //|    A    |    S    |    D    |    F    |    G    |                    |    H    |    J    |    K     |    L    |    ;    |
            //|    Z    |    X    |    C    |    V    |                                        |    B    |    N     |    M    |    ,    |
            // --------------------------------------------------------------------------------------------------------------------------
            //              |    UP    |              |   LALT  |                    |   RALT  |
            //    |   LT    |          |    RT   |    |ENTER/FN |                    |  SPACE  |
            //              |    DN    |
            bindings = <
            &kp Q      &kp W      &kp E      &kp R      &kp T           /**/          &kp Y      &kp U      &kp I      &kp O      &kp P
            &kp A      &kp S      &kp D      &kp F      &kp G           /**/          &kp H      &kp J      &kp K      &kp L      &kp SEMI
            &kp Z      &kp X      &kp C      &kp V      &kp LALT        /**/          &kp RALT   &kp B      &kp N      &kp M      &kp COMMA
            &kp UP &kp LEFT &kp RIGHT &kp RIGHT &kp DOWN &bootloader    /**/          &kp SPACE       
            >;
        };

        trackball_layer {
            display-name = "Trackball";
            bindings = <
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &mkp MCLK    &trans      &trans
            &trans      &trans      &trans      &trans      &trans                     &trans      &mkp LCLK   &mo SCROLL_L &mkp RCRK  &trans
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &trans      &trans      &trans
                &trans  &trans  &trans  &trans  &trans      &trans                     &trans       
            >;
        };

        scroll_layer {
            display-name = "Scroll";
            bindings = <
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &trans      &trans      &trans
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &trans      &trans      &trans
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &trans      &trans      &trans
                &trans  &trans  &trans  &trans  &trans      &trans                     &trans       
            >;
        };

    };
};
