#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/input/input-event-codes.h>
#include "kestrel-layouts.dtsi"
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    tapping-term-ms = <280>;
    flavor = "balanced";
};

&lt {
    tapping-term-ms = <250>;
};

            // --------------------------------------------------------------------------------------------------------------------------
            //|    0    |    1    |    2    |    3    |    4    |                    |    5    |    6    |    7     |    8    |    9    |
            //|    10   |    11   |    12   |    13   |    14   |                    |    15   |    16   |    17    |    18   |    19   |
            //|    20   |    21   |    22   |    23   |                                        |    26   |    27    |    28   |    29   |
            // --------------------------------------------------------------------------------------------------------------------------
            //              |    30    |              |    24   |                    |    25   |
            //   |    31    |    32    |    33   |    |    35   |                    |    36   |
            //              |    34    |

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            // --------------------------------------------------------------------------------------------------------------------------
            //|    Q    |    W    |    E    |    R    |    T    |                    |    Y    |    U    |    I     |    O    |    P    |
            //| A/SHIFT |    S    |    D    |    F    |    G    |                    |    H    |    J    |    K     |    L    | ;/SHIFT |
            //|    Z    |    X    |    C    |    V    |                                        |    B    |    N     |    M    |    /    |
            // --------------------------------------------------------------------------------------------------------------------------
            //              |    UP    |              |   ESC   |                    |   RALT  |
            //    |   LT    | LAYER_TOG|    RT   |    | ENTR/FN |                    |SPACE/FN |
            //              |    DN    |
            bindings = <
            &kp Q      &kp W      &kp E      &kp R      &kp T           /**/          &kp Y      &kp U      &kp I      &kp O      &kp P
            &mt LSHFT A &kp S     &kp D      &kp F      &kp G           /**/          &kp H      &kp J      &kp K      &kp L      &mt RSHFT SEMI
            &kp Z      &kp X      &kp C      &kp V      &kp ESC         /**/          &kp RALT   &kp B      &kp N      &kp M      &kp FSLH
            &kp UP &kp LEFT &to SELLECTER &kp RIGHT &kp DOWN &lt LEFT_L ENTER    /**/          &lt RIGHT_L SPACE       
            >;
        };

        Colemak_layer {
            display-name = "Colemak";
            // --------------------------------------------------------------------------------------------------------------------------
            //|    Q    |    W    |    F    |    P    |    G    |                    |    J    |    L    |    U     |    Y    |    ;    |
            //| A/SHIFT |    R    |    S    |    T    |    D    |                    |    H    |    N    |    E     |    I    | O/SHIFT |
            //|    Z    |    X    |    C    |    V    |                                        |    B    |    K     |    M    |    /    |
            // --------------------------------------------------------------------------------------------------------------------------
            //              |    UP    |              |   ESC   |                    |   RALT  |
            //    |   LT    | QWER/COL |    RT   |    | ENTR/FN |                    |SPACE/FN |
            //              |    DN    |
            bindings = <
            &kp Q      &kp W      &kp F      &kp P      &kp G           /**/          &kp J      &kp L      &kp U      &kp Y      &kp SEMI
            &mt LSHFT A &kp R     &kp S      &kp T      &kp D           /**/          &kp H      &kp N      &kp E      &kp I      &mt RSHFT O
            &kp Z      &kp X      &kp C      &kp V      &kp ESC         /**/          &kp RALT   &kp B      &kp K      &kp M      &kp FSLH
            &kp UP &kp LEFT &to SELLECTER &kp RIGHT &kp DOWN &lt LEFT_L ENTER    /**/          &lt RIGHT_L SPACE       
            >;
        };

        Game_layer {
            display-name = "GAME";
            // --------------------------------------------------------------------------------------------------------------------------
            //|    Q    |    W    |    E    |    R    |    T    |                    |    Y    |    U    |    I     |    O    |    P    |
            //|    A    |    S    |    D    |    F    |    G    |                    |    H    |    J    |    K     |    L    |    ;    |
            //|    Z    |    X    |    C    |    V    |                                        |    B    |    N     |    M    |    /    |
            // --------------------------------------------------------------------------------------------------------------------------
            //              |    UP    |              |   ESC   |                    |   RALT  |
            //    |   LT    | LAYER_TOG|    RT   |    | ENTR/FN |                    |SPACE/FN |
            //              |    DN    |
            bindings = <
            &kp Q      &kp W      &kp E      &kp R      &kp T           /**/          &kp Y      &kp U      &kp I      &kp O      &kp P
            &kp A      &kp S      &kp D      &kp F      &kp G           /**/          &kp H      &kp J      &kp K      &kp L      &kp SEMI
            &kp Z      &kp X      &kp C      &kp V      &kp ESC         /**/          &kp RALT   &kp B      &kp N      &kp M      &kp FSLH
            &kp UP &kp LEFT &to SELLECTER &kp RIGHT &kp DOWN &kp ENTER  /**/          &kp SPACE       
            >;
        };

        left_layer {
            display-name = "Left";
            // --------------------------------------------------------------------------------------------------------------------------
            //|         |   F7    |    F8   |    F9   |         |                    |    -    |    7    |    8     |    9    |    0    |
            //| SHIFT   |   F4    |    F5   |    F6   |         |                    |    +    |    4    |    5     |    6    |  SHIFT  |
            //|         |   F1    |    F2   |    F3   |                                        |    1    |    2     |    3    |    =    |
            // --------------------------------------------------------------------------------------------------------------------------
            //              |          |              |         |                    | CPSLCK  |
            //    |         |          |         |    |         |                    |  BSPC   |
            //              |          |
            bindings = <
            &trans      &kp F7      &kp F8      &kp F9      &trans                     &kp MINUS   &kp N7      &kp N8      &kp N9      &kp N0
            &kp LSHFT  &mt LCTRL F4 &mt LWIN F5 &mt LALT F6 &trans                     &kp PLUS    &mt LALT N4 &mt LWIN N5 &mt LCTRL N6 &kp RSHFT
            &trans      &kp F1      &kp F2      &kp F3      &trans                     &kp CLCK    &kp N1      &kp N2      &kp N3      &kp EQUAL
                &trans  &trans  &trans  &trans  &trans      &trans                     &kp BSPC       
            >;
        };

        right_layer {
            display-name = "Right";
            // --------------------------------------------------------------------------------------------------------------------------
            //|         |    _    |    -    |    [    |         |                    |         |    ]    |    +     |    =    |         |
            //| SHIFT   |    `    |    \    |    {    |    ~    |                    |         |    }    |    /     |    '    |  SHIFT  |
            //|         |         |         |    (    |                                        |    )    |          |    ,    |    .    |
            // --------------------------------------------------------------------------------------------------------------------------
            //              |          |              |         |                    |         |
            //    |         |          |         |    |   TAB   |                    |         |
            //              |          |
            bindings = <
            &trans      &kp UNDER   &kp MINUS   &kp LBKT    &trans                     &trans      &kp RBKT    &kp PLUS    &kp EQUAL   &trans
            &kp LSHFT   &kp GRAVE   &kp BSLH    &kp LBRC    &kp GRAVE                  &trans      &kp RBRC    &kp FSLH    &kp SQT     &kp RSHFT
            &trans      &trans      &trans      &kp LPAR    &trans                     &trans      &kp RPAR      &trans     &kp COMMA   &kp DOT
                &trans  &trans  &trans  &trans  &trans      &kp TAB                     &trans       
            >;
        };

        point_layer {
            display-name = "Point";
            // --------------------------------------------------------------------------------------------------------------------------
            //|         |         |         |         |         |                    |         |         |    UP    |         |         |
            //|         |         |         |         |         |                    |         |   LEFT  |   DOWN   |  RIGHT  |         |
            //|         |         |         |         |                                        |         |          |         |         |
            // --------------------------------------------------------------------------------------------------------------------------
            //              |          |              |         |                    |         |
            //    |         |          |         |    |         |                    |         |
            //              |          |
            bindings = <
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &kp UP      &trans      &trans
            &trans      &trans      &trans      &trans      &trans                     &trans      &kp LEFT    &kp DOWN    &kp RIGHT   &trans
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &trans      &trans      &trans
                &trans  &trans  &trans  &trans  &trans      &trans                     &trans    
            >;
        };
        system_layer {
            display-name = "System";
            // --------------------------------------------------------------------------------------------------------------------------
            //|  BOOT   |   BT1   |   BT2   |   BT3   |  BT_CLR |                    |BT_CL_ALL|         |          |         |  BOOT   |
            //|         |VOL_DOWN |  VOL_UP |   MUTE  |         |                    |         |         |          |         |         |
            //|         |         |         |         |                                        |         |          |         |         |
            // --------------------------------------------------------------------------------------------------------------------------
            //              |          |              |         |                    |         |
            //    |         |          |         |    |         |                    |         |
            //              |          |
            bindings = <
            &bootloader &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_CLR              &bt BT_CLR_ALL &trans      &trans      &trans      &bootloader
            &trans     &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE &trans                     &trans      &trans      &trans      &trans      &trans
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &trans      &trans      &trans
                &trans  &trans  &trans  &trans  &trans      &trans                     &trans       
            >;
        };

        trackball_layer {
            display-name = "Trackball";
            bindings = <
            &trans      &trans      &trans      &trans      &trans                     &trans      &mkp MB4    &mkp MCLK    &mkp MB5      &trans
            &trans      &trans      &trans      &trans      &trans                     &trans      &mkp LCLK   &mo SCROLL_L &mkp RCLK  &trans
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &trans      &trans      &trans
                &trans  &trans  &trans  &trans  &trans      &trans                     &trans       
            >;
        };

        scroll_layer {
            display-name = "Scroll";
            bindings = <
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &trans      &trans      &trans
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &trans      &trans      &trans
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &trans      &trans      &trans
                &trans  &trans  &trans  &trans  &trans      &trans                     &trans       
            >;
        };

        sellect_layer {
            display-name = "Sellecter";
            bindings = <
            &to QWERTY_L &to COLEMAK_L &to GAME_L   &trans  &trans                     &trans      &trans      &trans      &trans      &trans
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &trans      &trans      &trans
            &trans      &trans      &trans      &trans      &trans                     &trans      &trans      &trans      &trans      &trans
                &trans  &trans  &trans  &trans  &trans      &trans                     &trans       
            >;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_comma {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp COMMA>;
            layers = <QWERTY_L COLEMAK_L>;
        };
        combo_dot {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&kp DOT>;
            layers = <QWERTY_L COLEMAK_L>;
        };
        combo_ctrl_L {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp LCTRL>;
            layers = <QWERTY_L COLEMAK_L>;
        };
        combo_ctrl_R {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp LCTRL>;
            layers = <QWERTY_L COLEMAK_L>;
        };
        combo_win_L {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp LWIN>;
            layers = <QWERTY_L COLEMAK_L>;
        };
        combo_win_R {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp LWIN>;
            layers = <QWERTY_L COLEMAK_L>;
        };
        combo_alt_L {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LALT>;
            layers = <QWERTY_L COLEMAK_L>;
        };
        combo_alt_R {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp LALT>;
            layers = <QWERTY_L COLEMAK_L>;
        };
        combo_point_L {
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&to POINT_L>;
            layers = <QWERTY_L COLEMAK_L>;
        };
        combo_sys_L {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&to SYSTEM_L>;
            layers = <QWERTY_L COLEMAK_L>;
        };
    };
};
